<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATBOT SUPPORT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support chatbox--active">
                <div class="chatbox__header">
                    <div class="chatbox-logo">
                        <img class="logo" src="../static/logo.jpeg" alt="">
                        <div class="spacer">Svaran : IIT Jammu Chatbot</div>
                        <img class="iit-logo" src="../static/images.png" alt="">
                    </div>
                </div>

                <div class="language-selection">
                    <label for="language" style="font-size: 14px;">Select Language: </label>
                    <select id="language" class="language-dropdown">
                        <option value="en" selected>English</option>
                        <option value="hi">Hindi</option>
                        <option value="ta">Tamil</option>
                        <option value="te">Telugu</option>
                        <option value="kn">Kannada</option>
                        <option value="ml">Malayalam</option>
                        <option value="bn">Bengali</option>
                        <option value="mr">Marathi</option>
                        <option value="gu">Gujarati</option>
                        <option value="pa">Punjabi</option>
                        <option value="ur">Urdu</option>
                    </select>
                
                    <button id="resetChat" class="reset-chat-btn">Reset Chat</button>
                </div>                
                <div class="chatbox__messages">
                    <div></div>
                </div>

                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <div class="senddiv">
                        <button class="chatbox__send--footer send__button">
                            Send
                            <img class="send-logo" src="../static/send.png" alt="Send Icon">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
